doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Error
    link(rel='stylesheet', href='css/index.css')
  body
     .errorMessage  뭔가 에러다!! 관리자한테 말해주세요