@import 'default.css';
@import 'header.css';

.body {
    margin: 4vw 10vw 0 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
    letter-spacing: 1px;
}

.description {
    grid-column: 1/5;
    grid-row: 3/18;
    vertical-align: text-top;
}

.register-button {
    grid-column: 4/4;
    cursor: pointer;
}