@import 'default.css';

.signup-box {
    height: 500px;
    width: 500px;
    margin: 100px auto;
    text-align: center;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
}

.signup-box>h1 {
    padding-top: 20px;
    font-size: 3em;
    font-weight: 350;
    color: #282828;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #ffffff;
    margin-bottom: 40px;
}

.signup-box>input {
    font-size: 15px;
    width: 450px;
    height: 45px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
    border-radius: 8px;
    border: 0;
    margin-bottom: 15px;
    padding: 0 15px 0 15px;
}

.signup-box>input:focus {
    background-color: #f4f4f4;
}

.signup-box>#register-button {
    width: 450px;
    height: 45px;
    border: 0;
    margin: 50px 0 0 0;
    background: #2296cf;
    padding: 1px;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.3em;
    letter-spacing: 1px;
    font-weight: 300;
    border-radius: 8px;
}

.signup-box>button:hover {
    opacity: 0.8;
}